<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/transIntra.css">
    <title>TECBank web</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">
            TECBank Web
        </a>
        <div class="header-right">
          <a class="active" href="/mainpage">Home</a>
          <a href="#">Citas</a>
          <a href="#">Iniciar un plan de ahorros</a>
          <a href="/transferencias">Transferencias</a>
        </div>
      </div>

      <div class="enviartoken">
        <form action="enviartokenInter" method="POST">
            <label for="cuentaorigen">Cuenta origen:</label><br>
            <input type="text" name="cuentaorigen" id="cuentaorigen" required><br>
            <label for="cuentadestino">Cuenta destino:</label><br>
            <input type="text" name="cuentadestino" id="cuentadestino" required><br>
            <label for="detalle">Detalle:</label><br>
            <input type="text" name="detalle" id="detalle" required><br>
            <label for="monto">Monto:</label><br>
            <input type="number" name="monto" id="monto" required><br>
            <input type="submit" value="Enviar"><br>
        </form>
    </div>
</body>
</html>